.ezedit_body{
	
	border-style: none;
	color: #121212;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: 400;

}

.heading{
	color:#e68f1a;
	font-size: 24px;
	font-weight: 400;
}

.sub_heading{
	color:#5a5a5a;
	font-size: 18px;
	font-weight: 700;
}

.sub_sub_heading{
	color:#ccc;
	font-size: 1em;
	font-weight: 700;
}

.bold_caps {
	color:#007236;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1em;
}

.thin {
	color:#000000;
	font-weight: 100;
	font-size: 1em;
}


