.ezedit_body{
	color: #434343;
	font-family: 'Tahoma', serif;
}

.heading{
	font-family: 'Georgia', serif;
	font-size: 1.375em;
}

.sub_heading{
	font-family: 'Georgia', serif;
	font-size: 1.125em;
}
