body{

	font-family: sans-serif;
	background: #222;

}

.intro.page{

	position: relative;
	width: 100%;
	height: 100%;
	font-size: 0;
	text-align: center;
	visibility: visible;

}

.intro.page:before{

	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;


}

.intro-logo{
	
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-top: -20px;

}

.intro-1{
	position: relative;
	visibility: hidden;
}

.nav-wrapper{
	
	height: auto;
	min-height: 100%;
	width: 0;
	overflow: hidden;
	background: #222;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;

	padding: 5em 0 4em 0;

	-webkit-transition: 0.3s width ease-out;
	-moz-transition: 0.3s width ease-out;
	-ms-transition: 0.3s width ease-out;
	-o-transition: 0.3s width ease-out;
	transition: 0.3s width ease-out;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

.nav-container{
	position: relative;
}

.page-wrapper{

	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;

	width: 100%;
	background-color: #FFF;

	-webkit-transition: 0.3s left ease-out;
	-moz-transition: 0.3s left ease-out;
	-ms-transition: 0.3s left ease-out;
	-o-transition: 0.3s left ease-out;
	transition: 0.3s left ease-out;

}

.show-nav .nav-wrapper{
	width: 75%;
}

.show-nav .page-wrapper{
	left: 75%;
}

.page-container{

	position: relative;
	width: 100%;
	height: 100%;

	visibility: hidden;

	/*overflow: hidden;*/	

}

.page{
	
	position: relative;
	height: auto;
	min-height: 100%;

}

.page .content-wrapper{
	
	position: relative;	
	z-index: 1;
	width: 100%;
	padding: 0 0 0 0;

}

.page .content-wrapper > .content{

	width: 100%;
	background-color: #FFF;

}

.home.page{

	text-align: center;

	padding: 0 0 4em 0;

}

.default.page{
	background: #FFF;
}

.home.page .logo{

	padding: 1.5em 0;

}

.home-nav-container{
	width: 80%;
	margin: 0 auto 1em;
}

.home-nav{
	
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	
}

.home-nav > li{
	margin: 0 0 0.25em;
	padding: 0;
	text-transform: uppercase;
	color: #FFF;
	
}

.home-nav > li > a{
	display: block;
	width: 100%;
	padding: 0.5em 1em 0.4em;
	background-color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}

.home-nav > li > a:active{
	background-color: #444;
}

.info a:link, .info a:visited, .info a:active{
    text-decoration: underline;
    color: #000;
}

.info span{
	display: inline-block;
}

.home .info .phone{
	margin-right: 0.25em;
}

.home .info .directions{
	margin-left: 0.25em;
}

.info a:active{
	color: #333;
}

.nav-wrapper .info .phone, .nav-wrapper .info .directions{
	font-size: 1.125em;
}

.nav-wrapper .info{
	padding: 1em 0 0 1em;
	min-width: 320px;
}

.nav-wrapper .social-nav{
	padding-left: 1em;
}


.social-nav{
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 320px;
}

.social-nav > li{
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 2.5em;
	-webkit-transition: 0.25s ease-out color;
	-moz-transition: 0.25s ease-out color;
	-ms-transition: 0.25s ease-out color;
	-o-transition: 0.25s ease-out color;
	transition: 0.25s ease-out color;
}

.home .social-nav > li{
	margin-left: 0.125em;
}

.nav-wrapper .social-nav > li{
	margin-right: 0.125em;
	font-size: 2.5em;
}

.home .social-nav > li:first-child{
	margin-right: 0;
}

.ezedit_body{

	padding: 2em 10% 8em;
	min-height: 24em;

}

.header{
	
	background-color: #444;
	height: 0;
	overflow: hidden;
	width: 100%;
	height: 0;

	-webkit-transition: 0.3s height ease-out;
	-moz-transition: 0.3s height ease-out;
	-ms-transition: 0.3s height ease-out;
	-o-transition: 0.3s height ease-out;
	transition: 0.3s height ease-out;

}

.inside .header{
	height: 5em;
}

.menu-button{

	float: left;

	width: 5em;
	height: 100%;

	font-size: 1em;

	margin: 0;

	padding: 1.4375em 1.125em 0;

	cursor: pointer;

	background-color: rgba(0,0,0,0.25);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: 0.25s background-color ease-out;
	-moz-transition: 0.25s background-color ease-out;
	-ms-transition: 0.25s background-color ease-out;
	-o-transition: 0.25s background-color ease-out;
	transition: 0.25s background-color ease-out;

}

.menu-button:active{
	background-color: rgba(0,0,0,0.5);
}

.menu-button .bar{
	
	width: 100%;
	height: 0.375em;
	background-color: #FFF;
	margin: 0 0 0.5em;

	border-radius: 0.25em;

}

.header .logo{
	display: block;
	float: right;
	margin: 1.675em 1.5em 0 0;

	-webkit-transition: 0.25s opacity ease-out;
	-moz-transition: 0.25s opacity ease-out;
	-ms-transition: 0.25s opacity ease-out;
	-o-transition: 0.25s opacity ease-out;
	transition: 0.25s opacity ease-out;
}

.header .logo:active{
	opacity: 0.7;
}

.page h1{
	font-size: 3em;
	line-height: 1.125em;
}

.main-nav{

	width: 100%;
	list-style: none;
	margin: -1px 0 0;
	padding: 0;

}

.main-nav > li{

	margin: 0;
	padding: 0;

	min-width: 230px;

	color: #dedede;
	
	width: 100%;

	border-bottom: 1px solid #666;

	opacity: 0;

	-webkit-transition: 0.25s all ease-out;
	-moz-transition: 0.25s all ease-out;
	-ms-transition: 0.25s all ease-out;
	-o-transition: 0.25s all ease-out;
	transition: 0.25s all ease-out;

}

.main-nav > li .arrow{
	float: right;
}

.main-nav > li:first-child{
	border-top: 1px solid #666;
}

.show-nav .main-nav > li{
	opacity: 1;
}

.main-nav > li > a{

	display: block;

	padding: 1em 1em 0.9em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: 0.25s all ease-out;
	-moz-transition: 0.25s all ease-out;
	-ms-transition: 0.25s all ease-out;
	-o-transition: 0.25s all ease-out;
	transition: 0.25s all ease-out;

}

.main-nav > li > a:active{
	
	color: #FFF !important;
	background-color: rgba(0,0,0,0.25);

}

.main-nav .arrow{
	-webkit-transition: 0.25s all ease-out;
	-moz-transition: 0.25s all ease-out;
	-ms-transition: 0.25s all ease-out;
	-o-transition: 0.25s all ease-out;
	transition: 0.25s all ease-out;
}

.close-button{
	
	position: absolute;
	left: 0;
	top: 0;

	display: inline-block;
	cursor: pointer;

	margin: 0.75em 0 0 0.875em;

	opacity: 1;

	color: #FFF;

	-webkit-transition: 0.25s all ease-out;
	-moz-transition: 0.25s all ease-out;
	-ms-transition: 0.25s all ease-out;
	-o-transition: 0.25s all ease-out;
	transition: 0.25s all ease-out;

}

.close-button:active{
	color: #aaa;
}

.close-icon{
	font-size: 2.5em;
}

@media only screen and (min-width: 480px) {
   
   .ezedit_body{
		padding: 2em 5em 8em 5em;
   }

}
