.ezedit_body{
	color: #434343;
	font-family: 'Open Sans', serif;
}

.heading{
	font-family: 'Georgia', serif;
	font-size: 1em;
	color: #BC7B35;
}

.sub_heading{
	font-family: 'Georgia', serif;
	font-size: 1em;
	color: #b22024;
}
